body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: handjet;
    font-size: 20px;
    background-image: url(https://img.freepik.com/free-vector/abstract-pixel-rain-background_23-2148367889.jpg?t=st=1726505503~exp=1726509103~hmac=8fe87593d082895eb6693a8d12823747d5d067948782247b78c0451b270a35b0&w=1380);
}

.handjet {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings:
      "ELGR" 1,
      "ELSH" 2;
  }

.free  {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.standard {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.premium {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.main   {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 500px;
    width: 1000px;
    padding: 30px;
    border: 5px solid rgb(102, 0, 219) ;
    border-radius: 30px;
    color: white;
    backdrop-filter:blur(20px);

}

.free button {
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 15px ;
    background-color: rgb(212, 165, 255);
    font-size: 18px;
    font-weight:bold;
}

.standard button {
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 15px ;
    background-color: rgb(165, 207, 255);
    font-size: 18px;
    font-weight:bold;
}

.premium button {
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 15px ;
    background-color: rgba(255, 190, 147, 0.911);
    font-size: 18px;
    font-weight:bold;
}

h2 {
    font-size: 25px;
}
 h1 {
    font-size: 50px;
    line-height: 10px;
 }

 button {
    font-family: handjet;
 }

